

<h1>Bookes</h1>


<% @books.each do |book| %>

<div>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg" %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
</div>
<% end %>